{% assign enable-team-crop = false %}
{% assign enable-team-members = false %}
{% for x in (1..8) %}
  {% capture enable %}use-team-member-{{x}}{% endcapture %}
  {% if settings[enable] %}
    {% assign enable-team-members = true %}
  {% endif %}
{% endfor %}

{% if enable-team-members %}
  <div class="module-wrapper style-{{ settings.team-members-style }}">
    <div class="module team column-{{ settings.team-members-column }}">
      {% if settings.team-member-section-title %}
        <div class="module-header team-header">
          <div class="module-title">
            <h3>{{ settings.team-member-section-title }}</h3>
          </div>
          {% if settings.team-member-section-subtitle %}
            <div class="module-subtitle">
              {{ settings.team-member-section-subtitle }}
            </div>
          {% endif %}
        </div>
      {% endif %}
      <div class="module-body clearfix">
        <div class="list compact team-list {% if enable-team-crop %}crop{% endif %}">
          {% for x in (1..8) %}
            {% capture enable %}use-team-member-{{x}}{% endcapture %}
            {% capture name %}team-member-name-{{x}}{% endcapture %}
            {% capture job %}team-member-job-{{x}}{% endcapture %}
            {% capture image %}team-member-image-{{x}}.png{% endcapture %}
            {% if settings[enable] %}
              <div class="list-item">
                <div class="list-container">
                  <div class="list-image-wrapper">
                    <img class="list-image" src="{{ image | asset_url | medium }}" {% if settings[name] != blank %}alt="{{ settings[name] | strip_html | escape }}"{% endif %}/>
                    <div class="list-cover" style="background-image: url({{ image | asset_url | medium }})"></div>
                  </div>
                  {% if settings[name] != blank or settings[job] != blank %}
                    <div class="list-text-wrapper team-text-wrapper">
                      {% if settings[name] != blank %}
                        <div class="list-title team-list-title">
                          {{ settings[name] }}
                        </div>
                      {% endif %}

                      {% if settings[job] != blank %}
                        <div class="list-meta team-list-meta">
                          {{ settings[job] }}
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              </div>

              {% capture team-cycle-target %}team-{{ settings.team-members-column }}{% endcapture %}
              {% capture team-cycle %}{% cycle 'team-1', 'team-2', 'team-3', 'team-4' %}{% endcapture %}
              {% if team-cycle-target == 'team-2' %}
                {% if team-cycle == 'team-2' or collections-cycle == 'team-4'  %}
                  <div class="list-clearfix clearfix"></div>
                {% endif %}
              {% else %}
                {% if team-cycle == team-cycle-target %}
                  <div class="list-clearfix clearfix"></div>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
