{% if template == 'blog' %}{% assign index = true %}{% endif %}
<article class="post">
  <header class="post-title">
    <h1>
      {% if index %}<a href="{{ article.url }}">{% endif %}
        {{ article.title }}
      {% if index %}</a>{% endif %}
    </h1>
  </header>
  <div class="post-subtitle post-meta">
    <span>{{ article.published_at | date: format: 'short_month' }}</span>
      <span>{{ 'blogs.article_item.posted_by' | t }}: {{ article.author }}</span>
    {% if article.tags.size > 0 %}
      <span>
        {% for tag in article.tags %}
          <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="post-tags">{{ tag }}</a>{% unless forloop.last %},&nbsp;{% endunless %}
        {% endfor %}
      </span>
    {% endif %}
  </div>

  {% if index %}
    {% include 'article-image' %}
  {% endif %}

  <div class="post-content rte">
    {% if index %}
      {{ article.excerpt_or_content }}
    {% else %}
      {{ article.content }}
    {% endif %}
  </div>

  {% if index %}
    <footer class="post-meta">
      <a class="button post-button" href="{{ article.url }}">
        {{ 'blogs.article_item.read_more' | t }}
        <span class="icon icon-arrow-right"></span>
      </a>
    </footer>
  {% endif %}
</article>
