{% if collection-list-item == 'linklist' %}
  {% assign link_handle = link.handle %}
  {% assign collection = collections[link_handle] %}
{% endif %}

{% assign collectionImage = collection.image.src | collection_img_url: '1024x1024' %}

{% unless collection.image %}
  {% assign collectionImage = collection.products.first.featured_image | product_img_url: '1024x1024' %}
{% endunless %}

<div class="list-item">
  <a class="list-container" href="{{ collection.url }}">
    <div class="list-image-wrapper">
      <img class="list-image" src="{{ collectionImage }}" alt="{{ collection.title }}" />
      <div class="list-cover" style="background-image: url({{ collectionImage }})"></div>
      <div class="list-overlay"></div>
    </div>
    <div class="list-text-wrapper">
      <div class="list-title">
        {{ collection.title }}
      </div>
      {% if collection.description.size > 0 and settings.collections-show-description %}
        <div class="list-text">
          {{ collection.description | strip_html | truncate: 100 }}
        </div>
      {% endif %}
    </div>
  </a>
</div>
