{% assign location-name = settings.contact-module-location-name %}
{% assign location-address = settings.contact-module-location-address %}
{% assign maps-api-key = settings.contact-module-api-key %}

{% capture location-title %}{{ location-name }}|{{ location-address }}{% endcapture %}
{% assign location-title = location-title | split : '|' %}

{% assign location-title-string = '' %}
{% for string in location-title %}
  {% if string != blank %}
    {% capture location-title-string %}{{ location-title-string }}, {{ string }}{% endcapture %}
  {% endif %}
{% endfor %}
{% assign location-title-string = location-title-string | remove_first: ', ' %}

{% if settings.use-contact-module-map and location-address != blank and maps-api-key != blank %}
  <div class="module-wrapper">
    <div class="module module-map">
      <div class="module-body module-map-body">
        <div id="map-canvas"
          class="module-map-canvas"
          data-title="{{ location-title-string }}"
          data-address="{{ location-address }}"></div>
        <div
        id="info-box"
        class="module-map-tooltip"
        data-marker-height="70"
        data-marker-width="70"
        ></div>
      </div>
    </div>
  </div>
{% endif %}
