{% comment %}
  Assign a full image url or asset uri to enable a dual column display
{% endcomment %}
{% assign contact-module-image = '' %}

<div class="module-wrapper style-{{ settings.contact-style }}">
  <div class="module side contact crop {% if contact-module-image == empty %}one-child{% endif %}">
    <div class="module-body">
      <div class="side-wrapper">
        {% if contact-module-image != empty %}
          <div class="side-section left">
            <div class="side-media-wrapper">
              <div class="side-cover" style="background-image:url('{{ contact-module-image }}')"></div>
              <img class="side-image" alt="{{ settings[title] | strip_html | escape }}" src="{{ contact-module-image }}">
            </div>
          </div>
        {% endif %}
        <div class="side-section right">
          <div class="side-text-wrapper">
              <div class="module-title side-title contact-form-title">
                <h5>Want to give your customers an easy way to get in touch with you? This form does just that.</h5>
              </div>
            <div class="module-text side-text">
              <div class="contact-item contact-form {% if settings.use-contact-label %}show-label{% endif %}">
                {% form 'contact', id: 'contact-form' %}
                  {% if form.errors %}
                    <div class="contact-form-error-message">
                      {{ 'contact.error' | t }}
                    </div>
                  {% endif %}
                  <div class="input-wrapper first">
                    <input
                      type="text"
                      id="contact[name]"
                      placeholder="{{ 'general.general.name_placeholder' | t }}"
                      aria-label="{{ 'general.general.name_placeholder' | t }}"
                      value=""
                      name="contact[name]"
                      class="{% if form.errors contains 'author' %}error{% endif %} contact-form-bgc">
                  </div>
                  <div class="input-wrapper">
                    <input
                      type="text"
                      id="contact[email]"
                      placeholder="{{ 'general.general.email_placeholder' | t }}"
                      aria-label="{{ 'general.general.email_placeholder' | t }}"
                      value=""
                      name="contact[email]"
                      class="{% if form.errors contains 'email' %}error{% endif %} contact-form-bgc">
                  </div>
                  <div class="input-wrapper">
                    <textarea
                      id="contact[body]"
                      placeholder="{{ 'general.general.message' | t }}"
                      aria-label="{{ 'general.general.message' | t }}"
                      name="contact[body]"
                      rows="6"
                      class="{% if form.errors contains 'body' %}error{% endif %} contact-form-bgc"></textarea>
                  </div>
                  <div class="input-wrapper last">
                    <input
                      class="button outline contact-form-button"
                      type="submit"
                      value="{{ 'general.general.submit' | t }}"
                      aria-label="{{ 'general.general.submit' | t }}"
                    >
                  </div>
                  {% if form.posted_successfully? %}
                    <div class="success-message contact-form-success">
                      <span class="icon icon-check contact-form-success-icon"></span>
                    </div>
                  {% endif %}
                {% endform %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
