{% assign homeLeftRightFeatures = "home-left-right-1|home-left-right-2|home-left-right-3" | split: "|" %}
{% assign index = 0 %}
{% for feature in homeLeftRightFeatures %}

  {% comment %}
    Change sides every other feature.
  {% endcomment %}
  {% assign index = index | plus: 1 %}
  {% assign alignment = 'left' %}
  {% assign modulo = index | modulo: 2 %}
  {% if modulo == 0 %}
    {% assign alignment = 'right' %}
  {% endif %}

  {% capture enabled %}show-{{feature}}{% endcapture %}
  {% capture style %}{{feature}}-style{% endcapture %}
  {% capture title %}{{feature}}-title{% endcapture %}
  {% capture text %}{{feature}}-text{% endcapture %}
  {% capture media %}{{feature}}-media{% endcapture %}
  {% capture video %}{{feature}}-video{% endcapture %}
  {% capture cta %}{{feature}}-cta{% endcapture %}
  {% capture url %}{{feature}}-url{% endcapture %}
  {% capture use-image %}use-{{feature}}-image{% endcapture %}
  {% capture image %}{{feature}}-image.png{% endcapture %}

  {% if settings[enabled] %}
    <div class="module-wrapper style-{{ settings[style] }} border">
      <div class="module home-left-right-features">
        <div class="module-body paddingb borderb">
          <div class="home-left-right-feature clearfix media-aligned-{{alignment}} borderb">
            <div class="home-left-right-section home-left-right-text {{ alignment }}">
              {% if settings[title] != blank %}
                <h3 class="module-title home-left-right-titles">{{ settings[title] }}</h3>
              {% endif %}
              {% if settings[text] != blank %}
                <div class="module-content home-left-right-content">
                  {{ settings[text] }}
                </div>
              {% endif %}
              {% if settings[url] != blank and settings[cta] != blank %}
                <div class="module-cta home-left-right-cta">
                  <a class="button" href="{{ settings[url] }}">{{ settings[cta] }} <span class="icon icon-angle-right"></span></a>
                </div>
              {% endif %}
            </div>
            <div class="home-left-right-section home-left-right-media">
              {% if settings[media] == 'image' %}
                <img class="home-left-right-image" alt="{{ settings[title] | strip_html | escape }}" src="{{ image | asset_url }}" />
              {% elsif settings[media] == 'video' %}
                <div class="home-left-right-video {% if settings[use-image] %}video-wrapper{% endif %}"
                  {% if settings[use-image] %}style="background-image:url('{{ image | asset_url }}')"{% endif %}>
                  {% if settings[use-image] %}
                    <div class="video-wrapper-overlay" data-video-overlay>
                      <div class="video-wrapper-text-container">
                        <a class="video-wrapper-button" data-overlay-play>
                          <span class="video-wrapper-triangle"></span>
                        </a>
                      </div>
                    </div>
                  {% endif %}
                  <div class="full-width-video" data-video-wrapper>
                    {% include 'video-embed', video: settings[video] %}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endfor %}
