{% if blogs[settings.home-featured-blog].articles.size > 0 %}
  <div class="module-wrapper style-{{ settings.home-blog-style }}">
    <div class="module home-blog">
      {% if settings.home-featured-blog-title != blank %}
        <div class="module-header home-blog-header">
          <h3 class="module-title home-blog-title">{{ settings.home-featured-blog-title }}</h3>
          {% if settings.home-featured-blog-subtitle != blank %}
            <p class="module-subtitle home-blog-subtitle">{{ settings.home-featured-blog-subtitle }}</p>
          {% endif %}
        </div>
      {% endif %}
      <div class="module-body home-blog-body">
        <div class="list crop column-{{ settings.home-blog-column }} clearfix">
          {% for article in blogs[settings.home-featured-blog].articles limit: settings.home-blog-column %}
            {% capture blog_image %}{% include 'home-blog-image' %}{% endcapture %}

            <div class="list-item">
              <a class="list-container" href="{{ article.url }}">
                <div class="list-image-wrapper">
                  <img class="list-image" src="{{ blog_image | rstrip | lstrip  }}" alt="{{ article.title | strip_html | escape }}" />
                  <div class="list-cover" style="background-image: url({{  blog_image | rstrip | lstrip }})"></div>
                  <div class="list-overlay"></div>
                  <div class="list-icon">
                    {% include 'font-icon', icon: 'ion-plus-round', class: 'list-item-icon', size: '1x' %}
                  </div>
                </div>
                <div class="list-text-wrapper">
                  <div class="list-title">
                    {{ article.title }}
                  </div>
                  <div class="list-meta">
                    {{ article.published_at | date: format: 'short_month' }}
                  </div>
                  <div class="list-text">
                    {{ article.excerpt_or_content | strip_newlines | strip_html | truncate: 140 }}
                  </div>
                  <div class="list-cta home-blog-cta">
                    <span class="list-link">{{ "home.blog.read_more" | t }}</span>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="module-footer home-blog-footer">
        <a class="home-blog-button button outline" href="{{ blogs[settings.home-featured-blog].url }}">
          {{ "home.blog.see_all" | t }}
        </a>
      </div>
    </div>
  </div>
{% endif %}
