
{% assign fullWidthFeatures = 'full-width-1' | split: '|' %}

{% for feature in fullWidthFeatures %}

  {% capture style %}home-{{ feature }}-style{% endcapture %}
  {% capture title %}home-{{ feature }}-title{% endcapture %}
  {% capture text %}home-{{ feature }}-text{% endcapture %}
  {% capture media %}home-{{ feature }}-media{% endcapture %}
  {% capture video %}home-{{ feature }}-video{% endcapture %}
  {% capture cta %}home-{{ feature }}-cta{% endcapture %}
  {% capture url %}home-{{ feature }}-url{% endcapture %}
  {% capture feature-image %}home-{{ feature }}-image.png{% endcapture %}

  {% assign contentClass = 'has-content' %}
  {% if settings[title] == blank and settings[text] == blank and settings[cta] == blank %}
    {% assign contentClass = 'no-content' %}
  {% endif %}
  {% if settings[media] == 'video-highlight' or settings[media] == 'image-highlight' %}
    {% assign contentClass = contentClass | append: ' has-media' %}
  {% endif %}
  {% if settings[media] == 'video-highlight' %}
    {% assign contentClass = contentClass | remove: 'has-content ' | prepend: 'no-content ' %}
  {% endif %}


  {% if contentClass contains 'no-content' and settings[media] == 'none' %}

    <div class="module-wrapper style-{{ settings[style] }} border">
      <div class="module home-full-width-feature {{ contentClass }}">
        <div class="module-header home-full-width-header">
          <h2 class="module-title home-full-width-module-title">{{ 'onboarding.full_width_section.section_title' | t }}</h2>
        </div>
        <div class="module-body home-full-width-body">
          <div class="module-content home-full-width-content home-full-width-body-item">
            {{ 'onboarding.full_width_section.text' | t }}
          </div>
          <div class="module-cta home-full-width-cta home-full-width-body-item">
            <a class="button" href="{{ shop.url }}/admin/themes">{{ 'onboarding.theme_settings_link' | t }}  <span class="icon icon-angle-right"></span></a>
          </div>
        </div>
      </div>
    </div>

  {% else %}

    <div class="module-wrapper style-{{ settings[style] }} {% unless contentClass contains 'has-media' %}border{% endunless %} feature-img-bg" >
      <div class="module home-full-width-feature {{ contentClass }}">

        {% if settings[media] == 'none' or settings[media] == 'image-highlight' %}
          {% if settings[title] != blank %}
            <div class="module-header home-full-width-header">
              <h2 class="module-title home-full-width-module-title">{{ settings[title] }}</h2>
            </div>
          {% endif %}

          {% if settings[text] != blank or (settings[cta] != blank and settings[url] != blank) %}
            <div class="module-body home-full-width-body">
              {% if settings[text] != blank %}
                <div class="module-content home-full-width-content home-full-width-body-item">{{ settings[text] }}</div>
              {% endif %}
              {% if settings[cta] != blank and settings[url] != blank %}
                <div class="module-cta home-full-width-cta home-full-width-body-item">
                  <a class="button" href="{{ settings[url] }}">{{ settings[cta] }}  <span class="icon icon-angle-right"></span></a>
                </div>
              {% endif %}
            </div>
          {% endif %}
        {% endif %}

        {% if settings[media] == 'image-highlight' %}
          {% if settings[url] != blank %}
            <a class="home-full-width-media" href="{{ settings[url] }}">
              <img alt="{{ settings[title] | strip_html | escape }}" src="{{ feature-image | asset_url }}" />
            </a>
          {% else %}
            <img class="home-full-width-media" alt="{{ settings[title] | strip_html | escape }}" src="{{ feature-image | asset_url }}" />
          {% endif %}
        {% endif %}

        {% if settings[media] == 'video-highlight' %}
          <div class="video-wrapper" style="background-image:url({{ feature-image | asset_url }})">
            <div class="video-wrapper-overlay" data-video-overlay>
              <div class="video-wrapper-text-container">
                {% if settings[title] != blank %}
                  <div class="module-title video-wrapper-title">
                    <h3>{{ settings[title] }}</h3>
                  </div>
                {% endif %}
                {% if settings[text] != blank %}
                  <div class="module-subtitle video-wrapper-subtitle">
                    {{ settings[text] }}
                  </div>
                {% endif %}
                <a class="video-wrapper-button" data-overlay-play>
                  <span class="video-wrapper-triangle"></span>
                </a>
              </div>
            </div>
            <div class="full-width-video {{settings[media]}}" data-video-wrapper>
              {% include 'video-embed', video: settings[video] %}
            </div>
          </div>
        {% endif %}

      </div>
    </div>

  {% endif %}

{% endfor %}
