{% capture hero_overlay %}overlay overlay-{{ settings.home-hero-overlay }}{% endcapture %}
{% capture hero_overlay_opacity %} overlay-opacity-{{ settings.home-hero-overlay-opacity }}{% endcapture %}

{% if settings.home-hero-style == "image" %}
  {% capture hero_style %}background-image:url({{ 'home-hero-background-image.jpg' | asset_url }}){% endcapture %}
{% endif %}

{% assign hero_text = false %}
{% if settings.home-hero-title != blank or settings.home-hero-subtitle != blank or settings.home-hero-small-text != blank or settings.home-hero-cta != blank or settings.home-hero-url != blank %}
  {% assign hero_text = true %}
{% endif %}

<div class="module-wrapper style-{{ settings.home-hero-style }} {{ hero_overlay }} {{ hero_overlay_opacity }}" style="{{ hero_style }}">
  <div class="module home-hero">
    <div class="module-body home-hero-body">
      {% if hero_text or settings.home-hero-image %}
        {% if hero_text %}
          <div class="home-hero-section home-hero-text {%if settings.use-home-hero-shadows %}text-shadow{% endif %}">
            {% if settings.home-hero-title != blank %}
              <h2 class="module-title home-hero-title">{{ settings.home-hero-title }}</h2>
            {% endif %}

            {% if settings.home-hero-subtitle != blank  %}
              <h3 class="module-subtitle home-hero-subtitle">{{ settings.home-hero-subtitle }}</h3>
            {% endif %}

            {% if settings.home-hero-content != blank %}
              <p class="module-content home-hero-content">{{ settings.home-hero-content }}</p>
            {% endif %}

            {% if settings.home-hero-cta != blank and settings.home-hero-url != blank %}
              <a class="button home-hero-button" href="{{ settings.home-hero-url }}">{{ settings.home-hero-cta }}</a>
            {% endif %}
          </div>
        {% endif %}
        {% if settings.home-hero-image %}
          <div class="home-hero-section home-hero-image">
            <img alt="{{ settings.home-hero-title | strip_html | escape }}" src="{{ 'home-hero-product-image.png' | asset_url }}" />
          </div>
        {% endif %}
      {% else %}
        <div class="home-hero-section home-hero-text">
          <h2 class="module-title">{{ 'onboarding.hero_section.section_title' | t }}</h2>

          <h3 class="module-subtitle home-hero-subtitle">{{ 'onboarding.hero_section.subtitle' | t }}</h3>

          <p class="module-content home-hero-content">{{ 'onboarding.hero_section.text' | t }}</p>

          <a class="button home-hero-button" href="{{ shop.url }}/admin/themes">{{ 'onboarding.theme_settings_link' | t }}</a>
        </div>

        <div class="home-hero-section home-hero-image">
          <img class="home-helper-image" alt="Demo image" src="{{ 'no-image.svg' | asset_url }}" onerror="this.src='{{'no-image.png' | asset_url}}';this.onerror=null;" />
        </div>
      {% endif %}
    </div>
  </div>
</div>
