<div class="module-wrapper style-{{ settings.product-detail-slideshow-style }} border">
  <div class="module product-details-slideshow">
    {% if settings.product-details-slideshow-hero-title != blank or settings.product-details-slideshow-hero-subtitle != blank %}
      <div class="module-header product-details-slideshow-header">
        {% if settings.product-details-slideshow-hero-title != blank %}
          <h3 class="module-title product-details-slideshow-hero-title">{{ settings.product-details-slideshow-hero-title }}</h3>
        {% endif %}
        {% if settings.product-details-slideshow-hero-subtitle != blank %}
          <p class="module-subtitle product-details-slideshow-hero-subtitle">{{ settings.product-details-slideshow-hero-subtitle }}</p>
        {% endif %}
      </div>
    {% endif %}
    <div class="module-body">
      <div class="product-details-slideshow-list-container">
        <ul id="product-details-slideshow" class="product-details-slideshow-list align-{{ settings.product-details-alignment }} clearfix">
          {% for x in (1..3) %}
            {% capture enable %}product-details-use-slide-{{x}}{% endcapture %}
            {% capture img %}product-details-slideshow-image-{{x}}.png{% endcapture %}
            {% capture title %}product-details-slideshow-title-{{x}}{% endcapture %}
            {% capture text %}product-details-slideshow-text-{{x}}{% endcapture %}
            {% if settings[enable] != false %}
              <li class="product-details-slideshow-list-item {% if forloop.first %}active{% endif %}" data-position="{{ forloop.index }}">
                <div class="product-details-slideshow-list-item-container clearfix">
                  <div class="product-details-slideshow-image-container {% if settings.product-details-alignment == 'left' %}show{% endif %}">
                    <img class="product-details-slideshow-image" alt="{{ settings[title] | strip_html | escape }}" src="{{ img | asset_url }}" />
                  </div>
                  <div class="product-details-slideshow-content">
                    <div class="product-details-slideshow-content-wrapper">
                      <div class="product-details-slideshow-nav-container">
                        <ul class="product-details-slideshow-nav-list">
                          {% for y in (1..3) %}
                            {% capture enable %}product-details-use-slide-{{y}}{% endcapture %}
                            {% if settings[enable] != false %}
                              <li>
                                <a href="#" class="product-details-slideshow-nav-list-item {% if forloop.first %}active{% endif %}" data-position="{{ forloop.index }}" tabindex="0">{{ forloop.index }}</a>
                              </li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                      </div>
                      {% if settings[title] != blank %}
                        <h4 class="module-title product-details-slideshow-title">{{ settings[title] }}</h4>
                      {% endif %}
                      {% if settings[text] != blank %}
                        <p class="module-content product-details-slideshow-text">{{ settings[text] }}</p>
                      {% endif %}
                    </div>
                  </div>
                  <div class="product-details-slideshow-image-container show-on-mobile {% if settings.product-details-alignment == 'right' %}show{% endif %}">
                    <img class="product-details-slideshow-image" alt="{{ settings[title] | strip_html | escape }}" src="{{ img | asset_url }}" />
                  </div>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
