{% capture featuredCollections %}{{ settings.home-featured-collection-1 }}|{{ settings.home-featured-collection-2 }}|{{ settings.home-featured-collection-3 }}{% endcapture %}
{% assign featuredCollections = featuredCollections | split: '|' %}

{% comment %}
  Forcing auto cropping behavior. Can be toggled off by setting the variable to false
{% endcomment %}
{% assign use-home-featured-collections-crop = true %}

{% if settings.home-collections-title != blank %}
  {% assign collection-header = true %}
{% endif %}

{% if featuredCollections != blank %}
  <div class="module-wrapper style-{{ settings.home-collections-style}} border">
    <div class="module home-collections">
      {% if collection-header == true %}
        <div class="module-header home-collections-header">
          <h3 class="module-title">{{ settings.home-collections-title }}</h3>
          {% if settings.home-collections-subtitle != blank %}
            <div class="module-subtitle">
              {{ settings.home-collections-subtitle }}
            </div>
          {% endif %}
        </div>
      {% endif %}
      <div class="module-body home-collections-body">
        {% assign collection_count = 0 %}
        {% for collection in featuredCollections %}
          {% if collection != blank %}
            {% assign collection_count = collection_count | plus: 1 %}
          {% endif %}
        {% endfor %}
        <div class="list compact crop image-contain column-{{ collection_count }}">
          {% for collection in featuredCollections %}
            {% if collection != blank %}
              {% assign featuredCollection = collections[collection] %}
              <div class="list-item">
                <a class="list-container" href="{{ featuredCollection.url }}">
                  <div class="list-image-wrapper">
                    {% if featuredCollection.image %}
                      <img class="list-image" src="{{ featuredCollection | img_url: 'grande' }}" />
                    {% else %}
                      <img class="list-image" src="{{ featuredCollection.products.first | img_url: 'grande' }}" />
                    {% endif %}
                    {% if featuredCollection.image %}
                      <div class="list-cover" style="background-image: url({{ featuredCollection | img_url: 'grande' }})"></div>
                    {% else %}
                      <div class="list-cover" style="background-image: url({{ featuredCollection.products.first | img_url: 'grande' }})"></div>
                    {% endif %}
                    <div class="list-overlay"></div>
                    <div class="list-icon icon icon-menu"></div>
                  </div>
                  <div class="list-text-wrapper">
                    <div class="list-title">
                      {{ featuredCollection.title }}
                    </div>
                    {% if settings.home-collections-count %}
                      <div class="list-meta">
                        {{ featuredCollection.products_count }} {{ 'collections.collection.product_count' | t: count: featuredCollection.products_count }}
                      </div>
                    {% endif %}
                  </div>
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
