<div class="module-wrapper style-{{ settings.home-testimonial-style }}">
  <div class="module home-testimonials">
    {% if settings.home-testimonial-title != blank or settings.home-testimonial-subtitle != blank %}
      <div class="module-header">
        {% if settings.home-testimonial-title != blank %}
          <h3 class="module-title home-testimonials-title">{{ settings.home-testimonial-title }}</h3>
        {% endif %}
        {% if settings.home-testimonial-subtitle != blank %}
          <p class="module-subtitle">{{ settings.home-testimonial-subtitle }}</p>
        {% endif %}
      </div>
    {% endif %}
    <div class="module-body">
      <div class="home-testimonials-container clearfix">
        {% assign testimonials = "testimonial-1|testimonial-2|testimonial-3|testimonial-4|testimonial-5|testimonial-6" | split: "|" %}

        {% assign count = 0 %}
        {% for i in testimonials %}
          {% capture enabled %}home-show-{{i}}{% endcapture %}
          {% if settings[enabled] %}
            {% assign count = count | plus: 1 %}
          {% endif %}
        {% endfor %}

        <div class="home-testimonials-slides">
          <div class="home-testimonials-slides-list">
            {% assign testimonial_index = 0 %}
            {% for testimonial in testimonials %}
              {% capture enabled %}home-show-{{testimonial}}{% endcapture %}
              {% capture avatar %}home-{{testimonial}}-use-avatar{% endcapture %}
              {% capture quote %}home-{{testimonial}}-quote{% endcapture %}
              {% capture source %}home-{{testimonial}}-source{% endcapture %}
              {% capture city %}home-{{testimonial}}-city{% endcapture %}
              {% capture url %}home-{{testimonial}}-url{% endcapture %}
              {% if settings[enabled] %}
                {% assign testimonial_index = testimonial_index | plus: 1 %}
                <div class="home-testimonials-slides-list-item {% if settings[avatar] %}has-avatar{% endif %} {% if testimonial_index == '1' or count == 1 %}active{% endif %}" data-position="{{ testimonial_index }}">
                  <div class="home-testimonials-slides-list-item-container">
                    <div class="home-testimonials-slides-list-item-body">
                      <blockquote class="home-testimonial-quote">
                        {{ settings[quote] }}
                      </blockquote>
                    </div>
                    <div class="home-testimonials-slides-list-item-footer">
                      <div class="home-testimonials-slides-list-item-footer-container clearfix">
                        {% if settings[avatar] %}
                          <div class="home-testimonials-slides-list-item-footer-image">
                            <img class="home-testimonial-avatar" alt="{{ settings[source] | strip_html | escape }}" src="{{ testimonial | prepend: 'home-' | append: '-avatar.jpg' | asset_url}}" />
                          </div>
                        {% endif %}
                        <div class="home-testimonials-slides-list-item-footer-text">
                          {% if settings[source] != blank %}
                            <p class="home-testimonial-source">{{ settings[source] }}</p>
                          {% endif %}
                          {% if settings[city] != blank %}
                            <p class="home-testimonial-city">{{ settings[city] }}</p>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="home-testimonials-pagination">
          <div class="home-testimonials-pagination-list clearfix">
            {% assign pagination_index = 0 %}
            {% for testimonial in testimonials %}
              {% capture enabled %}home-show-{{testimonial}}{% endcapture %}
              {% if settings[enabled] %}
                {% assign pagination_index = pagination_index | plus: 1 %}
                <div class="home-testimonials-pagination-list-item {% if pagination_index == '1' %}active{% endif %}" data-position="{{ pagination_index }}"></div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="home-testimonials-navigation">
          <div class="home-testimonials-navigation-item previous-slide">
            <a class="home-testimonials-navigation-icon icon icon-arrow-left" href="#" tabindex="0"></a>
          </div>
          <div class="home-testimonials-navigation-item next-slide">
            <a class="home-testimonials-navigation-icon icon icon-arrow-right" href="#" tabindex="0"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
