{% if template == 'collection' or template == 'collection.alternating' %}
  {% if settings.collection-border %}
    {% assign border_class = 'border' %}
  {% endif %}
{% endif %}

{% if template == 'blog' %}
  {% if settings.blog-border %}
    {% assign border_class = 'border' %}
  {% endif %}
{% endif %}

<div class="module-wrapper {{ border_class }}">
  <div class="module pagination borderb">
    <div class="module-body pagination-body clearfix">
      <div class="pagination-button pagination-previous">
        {% if paginate.previous %}
          <a class="pagination-button-link" href="{{ paginate.previous.url }}{% if template contains 'article' %}#comments{% endif %}" title="{{ pagination.previous | t}}">
            <span class="icon icon-angle-left pagination-button-icon"></span>
          </a>
        {% else %}
          <a class="pagination-button-link disabled">
            <span class="icon icon-angle-left pagination-button-icon"></span>
          </a>
        {% endif %}
      </div>
      <div class="pagination-position">{{ 'general.pagination.summary' | t: current_page: paginate.current_page, pages: paginate.pages }}</div>
      <div class="pagination-button pagination-next">
        {% if paginate.next %}
          <a class="pagination-button-link" href="{{ paginate.next.url }}{% if template contains 'article' %}#comments{% endif %}" title="{{ pagination.next | t}}">
            <span class="icon icon-angle-right pagination-button-icon"></span>
          </a>
        {% else %}
          <a class="pagination-button-link disabled">
            <span class="icon icon-angle-right pagination-button-icon"></span>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
