{% if settings.featured-product-main.size > 0 %}

  {% assign featured-product = all_products[settings.featured-product-main] %}
  {% assign featured-image-alignment = 'default' %}

  <div class="module-wrapper style-{{ settings.product-focus-style }}">
    <div class="module product-focus-wrapper {% if featured-image-alignment == 'bottom' %}align-image-to-section{% endif %}">

      {% if settings.product-focus-hero-title != blank %}
        <div class="module-header">
          <h3 class="module-title product-focus-title">{{ settings.product-focus-hero-title }}</h3>
        {% if settings.product-focus-hero-subtitle != blank %}
          <p class="module-subtitle">{{ settings.product-focus-hero-subtitle }}</p>
        {% endif %}
        </div>
      {% endif %}

      <div class="module-body clearfix">
        {% if settings.use-product-focus-image %}
          <div class="product-focus-hero-image-container">
            <div class="product-focus-hero-image">
              <img alt="{{ featured-product.title | strip_html | escape }}" src="{{ featured-product.featured_image | product_img_url: 'grande' }}" />
            </div>
          </div>
        {% endif %}

        <div class="product-focus-list-container {% if settings.use-product-focus-image != true %}no-image{% endif %}">
          <ul class="product-focus-list clearfix">
            {% assign count = 0 %}
            {% for x in (1..4) %}
            
              {% capture enabled %}product-focus-section-{{ x }}{% endcapture %}
            {% capture imgicofocus %}product-focus-block-image-{{x}}.png{% endcapture %}
              {% capture iconName %}product-focus-icon-{{ x }}{% endcapture %}
              {% capture title %}product-focus-section-{{ x }}-title{% endcapture %}
              {% capture text %}product-focus-section-{{ x }}-text{% endcapture %}
              {% if settings[enabled] and settings[title] != blank and settings[text] != blank %}
                {% assign count = count | plus: 1 %}
                <li class="product-focus-list-item list-item-{{ count }}">
                  {% if settings[iconName] != blank %}
                    {% include 'font-icon', icon: settings[iconName], class: 'product-focus-list-item-icon', title: settings[title] %}
                  {% endif %}
                   {% if settings[imgicofocus] == blank %}
                          <img class="" src="{{ imgicofocus | asset_url }}" />
                        {% endif %}
                  {% if settings[title] != blank %}
                    <h4 class="module-title product-focus-list-item-title">{{ settings[title] }}</h4>
                  {% endif %}
                  {% if settings[text] != blank %}
                    <div class="module-content product-focus-list-item-text rte">{{ settings[text] }}</div>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

      </div>

    </div>
  </div>
{% endif %}
