{% assign item = product %}
{% if template contains 'search' %}
  {% assign item = item %}
{% elsif template contains 'product' %}
  {% assign item = prod %}
{% endif %}

{% assign not-home-page = true %}
{% if template contains 'index' %}
  {% assign not-home-page = false %}
{% endif %}

{% if settings.product-stock-level-overlay and item.available and not-home-page %}
  {% assign total = 0 %}
  {% assign threshold = settings.product-stock-level-overlay-threshold | times: 1 %}
  {% assign infinity = false %}
  {% for variant in item.variants %}
    {% if variant.inventory_management == null %}
      {% assign infinity = true %}
    {% elsif variant.inventory_management == '' %}
      {% assign infinity = true %}
    {% elsif infinity == false %}
      {% capture temp %}{{ total | plus: variant.inventory_quantity }}{% endcapture %}
      {% assign total = temp | times: 1 %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="list-item" id="product-list-item-{{ item.id }}">
  <a class="list-container" href="{{ item.url | within: collection }}">
    <div class="list-image-wrapper">
      <img class="list-image" src="{{ item.featured_image.src | product_img_url: 'grande' }}" alt="{{ item.title }}" />
      {% unless excludeCover %}
        <div class="list-cover" style="background-image: url({{ item.featured_image.src | product_img_url: 'grande' }})"></div>
      {% endunless %}
      <div class="list-overlay"></div>
      <div class="list-icon icon icon-cart"></div>
      {% if settings.product-stock-level-overlay and item.available and infinity == false and total < threshold and total > 0 %}
        <div class="stock-badge">
          {{ 'products.product.stock_level' | t: stock_count: total }}
        </div>
      {% endif %}
      {% if item.compare_at_price_min > item.price_min and item.available %}
        <div class="sale-badge">
          {{ 'products.product.sale' | t }}
        </div>
      {% endif %}
    </div>
    <div class="list-text-wrapper">
      <div class="list-title">
        {{ item.title }}
      </div>
      <div class="list-meta">
        {% if item.available %}
          {% if item.price_varies %}
            <span class="price">
              {% if item.price_varies %}{{ 'products.product.from' | t }}{% endif %} <span class="money">{{ item.price_min | money }}</span>
            </span>
          {% else %}
            <span class="price">
              <span class="money">{{ item.price_min | money }}</span>
              {% unless item.compare_at_price_min <= item.price_min %}
                <span class="original money">
                  {% if item.compare_at_price_min > item.price_min %}
                    {{ item.compare_at_price_min | money }}
                  {% endif %}
                </span>
                <span class="saving">
                  {% if selectedVariant.compare_at_price > selectedVariant.price %}
                    {{ "products.product.saving" | t }} <span class="saving-result money">{{ selectedVariant.compare_at_price | minus: selectedVariant.price | money }}</span>
                  {% endif %}
                </span>
              {% endunless %}
            </span>
          {% endif %}
        {% else %}
          {{ 'products.product.sold_out' | t }}
        {% endif %}
      </div>
    </div>
  </a>
</div>
