<div class="module-wrapper">
  <div class="module module-activate-account">
    <div class="module-header">
      <h1 class="module-title page-title">{{ 'customer.activate_account.header' | t }}</h1>
      <div class="module-subtitle">
        {{ 'customer.activate_account.subtext' | t }}
      </div>
    </div>
    <div class="module-body">
      <div class="module-content">
        {% form 'activate_customer_password' %}
          {% if form.errors %}
            <div class="error-message">{{ form.errors | default_errors }}</div>
          {% endif %}
          <div class="input-wrapper">
            <label for="customer_password">{{ 'general.general.password' | t }}</label>
            <input type="password" name="customer[password]" id="customer_password" />
          </div>
          <div class="input-wrapper">
            <label for="customer_password_confirmation">{{ 'customer.general.password_confirmation' | t }}</label>
            <input type="password" name="customer[password_confirmation]" id="customer_password_confirmation" />
          </div>
          <div class="input-wrapper cta-container">
            <input class="button" type="submit" value="{{ 'general.general.submit' | t }}">
            <a class="decline-activation" href="/">{{ 'customer.activate_account.decline_html' | t }}</a>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>



