<div class="module-wrapper">
  <div class="module module-addresses">
    <div class="module-header">
      <h1 class="module-title page-title">{{ 'customer.addresses.header' | t }}</h1>
      <div class="module-subtitle">
        <div class="logged-in-as">
          {% capture user_email %}
            <a href="/account">{{ customer.email }}</a>
          {% endcapture %}
          {{ 'customer.account.logged_in_as_html' | t: user_email: user_email }} (<a href="/account/logout">{{ 'general.general.logout' | t }}</a>)
        </div>
      </div>
    </div>
    <div class="module-body">
      <div class="module-content">
        {% if customer.addresses.size > 0 %}
          <div class="customer-addresses">
            {% paginate customer.addresses by 2 %}
              {% for address in customer.addresses %}
                <div class="customer-address-wrap">
                  <div class="customer-address" data-address-id="{{ address.id }}">
                    {% if address == customer.default_address %}
                      <p class="default-address-marker">{{ 'customer.addresses.default_address' | t }}</p>
                    {% endif %}
                    <p>
                      <span><strong>{{ address.first_name }} {{ address.last_name }}</strong></span><br>
                      {% if address.company.size > 0 %}
                        <span>{{ address.company }}</span><br>
                      {% endif %}
                      {% if address.street.size > 0 %}
                        <span>{{ address.street }}</span><br>
                      {% endif %}
                      {% if address.city.size > 0 or address.province_code.size > 0 %}
                        <span>{{ address.city }}{% if address.province_code %}, {{ address.province_code }}{% endif %}</span><br>
                      {% endif %}
                      {% if address.country.size > 0 or address.zip.size > 0 %}
                        <span>{{ address.country }} {{ address.zip }}</span><br>
                      {% endif %}
                      {% if address.phone.size > 0 %}
                        <span>{{ address.phone }}</span><br>
                      {% endif %}
                    </p>
                    <p>
                      <a class="edit-address" href="#" tabindex="0">{{ 'customer.addresses.edit' | t }}</a>
                      {{ 'customer.general.or' | t }}
                      <a class="delete-address" href="#" tabindex="0">{{ 'customer.addresses.delete' | t }}</a>
                    </p>
                  </div>
                  <div class="customer-address-edit-form" data-address-id="{{ address.id }}">
                    {% include 'account-address-form', formInfo: address, form: form, address: address %}
                  </div>
                </div>
              {% endfor %}
              {% if paginate.previous or paginate.next %}
                <div class="customer-address-wrap">
                  {% include 'pagination' %}
                </div>
              {% endif %}
            {% endpaginate %}
          </div>
        {% endif %}
        <div class="add-new-address-wrapper {% if customer.addresses.size == 0 %}no-border{% endif %}">
          {% if customer.addresses.size > 0 %}
          <div class="cta-container">
            <button class="button toggle-new-address add-new-address">{{ 'customer.addresses.add_new' | t }}</button>
          </div>
          {% endif %}
          <div class="customer-new-address {% if customer.addresses.size == 0 %}show{% endif %}">
            {% include 'account-address-form', formInfo: customer.new_address, isNew: true, form: form, address: address %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





