<div class="module-wrapper">
  <div class="module order">
    <div class="module-header order-header">
      <div class="module-title page-title">
        <h1>{{ 'customer.order.header' | t: order_number: order.name }}</h1>
      </div>
      <div class="module-subtitle">
        <div class="logged-in-as">
          {% capture user_email %}<a href="/account">{{ customer.email }}</a>{% endcapture %}
          {{ 'customer.account.logged_in_as_html' | t: user_email: user_email }} (<a href="/account/logout">{{ 'general.general.logout' | t }}</a>)
        </div>
      </div>
    </div>
    <div class="module-body">
      <div class="module-content">
        <div class="order-summary">
          <div class="cart-items-container">
            <table class="cart-items clean">
              <thead class="cart-items-thead">
                <tr>
                  <th class="first">{{ 'general.general.product' | t}}</th>
                  <th>{{ 'general.general.price' | t }}</th>
                  <th>{{ 'general.general.quantity' | t }}</th>
                  <th class="last">{{ 'general.general.total' | t }}</th>
                </tr>
              </thead>
              <tbody>
                {% for line_item in order.line_items %}
                  <tr class="{% include 'for-looper' %} cart-item {% if order.cancelled %}cancelled_order{% endif %}">
                    <td class="cart-item-td cart-item-product">
                      {% assign thumbnail = line_item.product.featured_image |  product_img_url: 'small' | img_tag %}
                      {% for image in line_item.product.images reversed %}
                        {% if line_item.variant.title contains image.alt %}
                          {% assign thumbnail = image | product_img_url: 'small' | img_tag %}
                        {% endif %}
                      {% endfor %}
                      <div class="cart-item-image-container">
                        <a class="cart-image" href="{{ line_item.product.url }}">{{ thumbnail }}</a>
                      </div>
                      <div class="cart-item-product-wrap">
                        <span class="cart-title">{{ line_item.product.title | link_to: line_item.product.url }}</span>
                        <span class="cart-vendor vendor">{{ line_item.vendor }}</span>
                        {% if line_item.variant.title != 'Default Title' %}
                          <span class="cart-variant">{{ line_item.variant.title }}</span>
                        {% endif %}
                      </div>
                    </td>
                    <td class="cart-item-td cart-item-price">
                      <div class="cart-item-unit-price">
                        <span class="show-sm">{{ 'general.general.price' | t }}: </span>
                        <span class="money">{{ line_item.price | money }}</span>
                      </div>
                    </td>
                    <td class="cart-item-td cart-item-quantity">
                      <span class="show-sm">{{ 'general.general.quantity' | t }}: </span>
                      <span>{{ line_item.quantity }}</span>
                    </td>
                    <td class="cart-item-td cart-item-total last">
                      <div class="cart-item-total-container">
                        <span class="show-sm">{{ 'general.general.total' | t }}: </span>
                        <span class="money">{{ line_item.quantity | times: line_item.price | money }}</span>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <table class="order-totals clean">
            <tbody>
              <tr class="order-subtotal">
                <td>{{ 'general.general.subtotal' | t }}</td>
                <td><span class="money">{{ order.subtotal_price | money }}</span></td>
              </tr>
              {% for shipping_method in order.shipping_methods %}
                <tr class="order-shipping">
                  <td>{{ 'customer.order.shipping' | t }}</td>
                  <td><span class="money">{{ shipping_method.price | money }}</span></td>
                </tr>
              {% endfor %}
              {% for discount in order.discounts %}
                <tr>
                  <td>{{ "customer.orders.discount" | t }}</td>
                  <td><span>{{ "customer.orders.code_html" | t: code: discount.code }}</span> {{ discount.savings | money }}</td>
                </tr>
              {% endfor %}
              {% for tax_line in order.tax_lines %}
                <tr class="order-tax">
                  <td>{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
                  <td><span class="money">{{ tax_line.price | money }}</span></td>
                </tr>
              {% endfor %}
              <tr class="order-total">
                <td>{{ 'general.general.total' | t }}</td>
                <td><span class="money">{{ order.total_price | money }}</span></td>
              </tr>
            </tbody>
          </table>
          <div class="shipping-info">
            {% if order.shipping_address != blank %}
              <div class="customer-address shipping-address">
                <p><strong>{{ 'customer.order.shipping_address' | t }}</strong></p>
                <p>
                  <span>{{ order.shipping_address.first_name }} {{ order.shipping_address.last_name }}</span><br>
                  {% if order.shipping_address.company.size > 0 %}
                    <span>{{ order.shipping_address.company }}</span><br>
                  {% endif %}
                  {% if order.shipping_address.street.size > 0 %}
                    <span>{{ order.shipping_address.street }}</span><br>
                  {% endif %}
                  {% if order.shipping_address.city.size > 0 or order.shipping_address.province_code.size > 0 %}
                    <span>{{ order.shipping_address.city }}{% if order.shipping_address.province_code %}, {{ order.shipping_address.province_code }}{% endif %}</span><br>
                  {% endif %}
                  {% if order.shipping_address.country.size > 0 or order.shipping_address.zip.size > 0 %}
                    <span>{{ order.shipping_address.country }} {{ order.shipping_address.zip }}</span><br>
                  {% endif %}
                  {% if order.shipping_address.phone.size > 0 %}
                    <span>{{ order.shipping_address.phone }}</span><br>
                  {% endif %}
                </p>
              </div>
            {% endif %}
            <div class="customer-address billing-address">
              <p><strong>{{ 'customer.order.billing_address' | t }}</strong></p>
              <p>
                <span>{{ order.billing_address.first_name }} {{ order.billing_address.last_name }}</span><br>
                {% if order.billing_address.company.size > 0 %}
                  <span>{{ order.billing_address.company }}</span><br>
                {% endif %}
                {% if order.billing_address.street.size > 0 %}
                  <span>{{ order.billing_address.street }}</span><br>
                {% endif %}
                {% if order.billing_address.city.size > 0 or order.billing_address.province_code.size > 0 %}
                  <span>{{ order.billing_address.city }}{% if order.billing_address.province_code %}, {{ order.billing_address.province_code }}{% endif %}</span><br>
                {% endif %}
                {% if order.billing_address.country.size > 0 or order.billing_address.zip.size > 0 %}
                  <span>{{ order.billing_address.country }} {{ order.billing_address.zip }}</span><br>
                {% endif %}
                {% if order.billing_address.phone.size > 0 %}
                  <span>{{ order.billing_address.phone }}</span><br>
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
