{% if article.image %}
  <div class="module-wrapper">
    <div class="module column-1 full-width article-intro">
      <div class="module-body clearfix">
        <div class="image-container article-intro-image-container" style="background-image:url('{{ article.image | img_url: '2048x2048' }}');">
          <img class="article-intro-image" src="{{ article.image | img_url: '2048x2048' }}" alt="{{ article.title | strip_html | escape }}" />
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="module-wrapper">
  <div class="module article">
    <div class="module-body clearfix">
      <div class="post-wrapper">
        {% include 'article-list-item' %}
      </div>
    </div>
  </div>
</div>

{% if settings.enable-share-buttons %}
  <div class="module-wrapper">
    <div class="module module-share">
      <div class="module-body clearfix">
        {% include 'share-buttons' %}
      </div>
    </div>
  </div>
{% endif %}

{% if article.comments_enabled? %}
  <div id="comments" class="module-wrapper style-light">
    <div class="module module-post-comments">
      <div class="module-header">
        <div class="module-title post-comments-title">
          <h3>{{ article.comments_count }} {{ 'blogs.article_item.comment_count' | t: count: article.comments_count }}</h3>
        </div>
      </div>
      {% if article.comments_count > 0 %}
        <div class="module-body">
          <div class="post-comments">
            <div class="post-comments-list column-1">
              {% paginate article.comments by 10 %}
                {% for comment in article.comments %}
                <div class="post-comment" id="comment-{{ comment.id }}">
                  <p class="meta"><a href="{{ comment.url }}" class="post-comment-date">{{ comment.created_at | date: format: 'short_month' }}</a>
                  &bull; {{ 'blogs.article_item.posted_by' | t }} <strong>{{ comment.author }}</strong></p>
                  <div class="rte">{{ comment.content }}</div>
                </div>
                {% endfor %}
                {% if paginate.previous or paginate.next %}
                  {% include 'pagination' %}
                {% endif %}
              {% endpaginate %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <div id="comment_form" class="module-wrapper style-default">
    <div class="module module-post-comments">
      <div class="module-header">
        <div class="module-title post-comments-title">
          <h3>{{ 'blogs.article_item.leave_comment' | t }}</h3>
        </div>
      </div>
      <div class="module-body">
        <div class="post-comments-form-container">
          {% form article %}
            {% if form.posted_successfully? %}
              <div class="post-comment-success-message">
                <p class="post-comment-message">
                  {% if blog.moderated? %}
                    {{ 'blogs.article_item.comment_pending_html' | t: link: article.url }}
                  {% else %}
                    {% capture article_comment_link %}{{ article.url }}#comments{% endcapture %}
                    {{ 'blogs.article_item.comment_posted_html' | t: link: article_comment_link }}
                  {% endif %}
                </p>
              </div>
            {% endif %}
            {% if form.errors %}
              <div class="post-comment-error-message">
                <p class="post-comment-message">{{ 'blogs.article_item.error_message' | t }}</p>
              </div>
            {% endif %}
            <div class="input-wrapper {% if form.errors contains "author" %}error{% endif %}">
              <input type="text" placeholder="{{ 'general.general.name_placeholder' | t }}" value="{{ form.author }}" name="comment[author]">
            </div>
            <div class="input-wrapper {% if form.errors contains "email" %}error{% endif %}">
              <input type="email" placeholder="{{ 'general.general.email_placeholder' | t }}" value="{{ form.email }}" name="comment[email]">
            </div>
            <div class="input-wrapper {% if form.errors contains "body" %}error{% endif %}">
              <textarea placeholder="{{ 'general.general.message' | t }}" rows="6" name="comment[body]">{{ form.body }}</textarea>
            </div>
            <div class="input-wrapper">
              <input class="button outline" type="submit" value="{{ 'general.general.submit' | t }}">
            </div>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% assign current_found = false %}
{% assign done = false %}
{% for a in blog.articles %}
  {% if current_found and done == false %}
    {% assign next_article = a %}
    {% assign done = true %}
  {% endif %}
  {% unless done %}
    {% if a.id == article.id %}
      {% assign current_found = true %}
    {% else %}
      {% assign prev_article = a %}
    {% endif %}
  {% endunless %}
{% endfor %}

{% if blog.next_article or blog.previous_article %}
<div class="module-wrapper style-gradient">
  <div class="module module-pagination pagination-article">
    <div class="module-body article-pagination-body clearfix">
      {% if prev_article %}
        <div class="pagination-button pagination-previous pagination-article-previous">
          <a class="pagination-button-link pagination-article-button-link pagination-article-previous-link" href="{{ prev_article.url }}">
            <span class="icon icon-arrow-left pagination-button-icon pagination-article-button-icon"></span>
            <span class="pagination-article-title">{{ prev_article.title }}</span>
            <span class="pagination-article-date">{{ prev_article.published_at | date: format: 'short_month' }}</span>
          </a>
        </div>
      {% endif %}
      {% if next_article %}
        <div class="pagination-button pagination-next pagination-article-next">
          <a class="pagination-button-link pagination-article-button-link pagination-article-next-link" href="{{ next_article.url }}">
            <span class="pagination-article-title">{{ next_article.title }}</span>
            <span class="pagination-article-date">{{ next_article.published_at | date: format: 'short_month' }}</span>
            <span class="icon icon-arrow-right pagination-button-icon pagination-article-button-icon"></span>
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
