{% layout none %}

<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html class="no-js" lang="en"><![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  {% assign tab_index = 0 %}

  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}
  {% include 'favicon' %}

  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  {{ content_for_header }}

  {% include 'social-meta' %}

  {% include 'scripts-styles-header' %}
</head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">

  {% assign showSearch = false %}

  <header class="header">
    <div class="main-header-wrapper">
      <div class="main-header" role="banner">
        <h1 class="branding {% if drawer-use-alternate-logo %}alternate-logo-in-drawer{% else %}regular-logo-in-drawer{% endif %}">
          <a class="branding-logo-link" href="/">
            {% if settings.use-logo %}
              <img class="branding-logo-image logo-regular" alt="{{ shop.name | escape }}" src="{{ 'logo.png' | asset_url }}" />
              {% if settings.use-alternate-logo %}
                <img class="branding-logo-image logo-alternate" alt="{{ shop.name | escape }}" src="{{ 'alternate-logo.png' | asset_url }}" />
              {% endif %}
            {% else %}
              <span class="branding-logo-heading">{{ shop.name }}</span>
            {% endif %}
          </a>
        </h1>
      </div>
    </div>
  </header>

  <main class="main-content">

    <h2 class="password-page-header">{{ 'password.general.opening_soon' | t }}</h2>

    {% if shop.password_message != blank %}
      <p class="password-page-subheader">{{ shop.password_message }}</p>
    {% endif %}

    <div class="password-subscribe-wrapper visible">
      {% if settings.mailing-list-platform != 'shopify-customer' and settings.mailing-list-action-url != '' %}
        <form action="{{ settings.mailing-list-action-url }}" method="post" name="{% if settings.mailing-list-platform == 'mailchimp' %}mc-embedded-subscribe-form{% endif %}" class="password-subscribe-form password-embedded-newsletter-form" target="_blank">
          <input
            class="newsletter-input"
            {% if settings.mailing-list-platform == 'mailchimp' %}
              name="EMAIL"
            {% endif %}
            {% if settings.mailing-list-platform == 'campaign-monitor' %}
              id="fieldEmail"
              name="{{ settings.campaign-monitor-name }}"
              required
            {% endif %}
            type="email"
            placeholder="{{ 'general.general.email_placeholder' | t }}"
            value=""
            aria-label="{{ 'general.general.email_placeholder' | t }}" />

          <input
            class="submit password-button"
            name="subscribe"
            type="submit"
            value="{{ 'password.general.subscribe' | t }}"
            aria-label="{{ 'password.general.subscribe | t' }}"/>
        </form>
      {% else %}
        {% form 'customer', class: 'password-subscribe-form' %}
          {{ form.errors | default_errors }}

          {% if form.posted_successfully? %}
            <p class="form-success">{{ 'password.general.subscribe_form_success' | t }}</p>
          {% else %}
            <input
              class="newsletter-input"
              type="text"
              name="contact[email]"
              id="email"
              aria-label="{{ 'general.general.email_placeholder' | t }}"
              placeholder="{{ 'general.general.email_placeholder' | t }}" />
            <input
              class="submit password-button"
              name="commit"
              type="submit"
              value="{{ 'password.general.subscribe' | t }}"
              aria-label="{{ 'password.general.subscribe | t' }}" />
            <input type="hidden" name="contact[tags]" value="prospect, password page">
          {% endif %}
        {% endform %}
      {% endif %}

      <p class="form-success hidden">{{ 'password.general.subscribe_form_success' | t }}</p>
    </div>

    <div class="password-form-wrapper">
      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <div class="{% if form.errors %}has-errors{% endif %}" data-password-form-inner>
          <input
            class="password-input"
            type="password"
            name="password"
            id="password"
            placeholder="{{ 'password.general.use_password' | t }}"
            aria-label="{{ 'password.general.use_password' | t }}"
            autofocus />
          <input
            class="submit password-button"
            name="submit"
            type="submit"
            value="{{ 'password.general.submit' | t }}"
            aria-label="{{ 'password.general.submit' | t }}" />
        </div>
      {% endform %}
    </div>

    <a class="password-entry" href="#" data-enter-password="{{ 'password.general.use_password' | t }}" data-cancel="{{ 'password.general.cancel' | t }}">{{ 'password.general.use_password' | t }}</a>

  </main>

  <div class="footer-wrapper">
    <footer class="main-footer">
      <div role="contentinfo" class="copyright footer-module">
        {% capture year %}{{ "now" | date: "%Y" }}{% endcapture %}
        {{ 'general.general.copyright_text_html' | t: year: year }} {{ 'general.general.copyright_credit_html' | t }} {{ powered_by_link }}.
      </div>
    </footer>
  </div>

  {% include 'scripts-styles-footer' %}

</body>
</html>
